*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


#container{
    display: grid;
    grid-template-columns: auto 400px;
    width: 100vw;
    height: 100vh;
    /* background-color: yellow; */
}

#container aside {
    /* display: flex; */
    height: 100vh;
}

aside{
    background-color: yellow;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    padding: 10px;
}

aside img{
    background: gainsboro;
    aspect-ratio: 1;
    border-radius: 10px;
}

main{
    /* display: flex; */
    /* height: 100vh; */
}

canvas{
    display: flex;
    width: 100%;
    height: 100%;
}