* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#container{
   display: grid;
   grid-template-columns: 200px auto; 
   height: 100vh;
   width: 100vw;
   position: relative;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

#svg-text{
    overflow: visible;
    width: 90%;
    height: 90%;
}

#aside{
    /* border-right: 1px solid black; */
    background: rgb(201, 201, 201);
    padding: 20px;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.grid line{
    stroke: red;
    stroke-width: 1;
}
